div.ui.secondary.pointing.menu {
  margin: 8px 0 0 0;
  border: none;
}

div.ui.transparent.icon.input {
  background-color: #efefef;
  color: #757575;
  padding: 5px;
  border-radius: 5px;
  width: 50vw;
}

i.pinterest {
  color: #e70024;
}

i.search.link {
  color: #757575;
}
